body {
    font-family: monospace;
    background: #262626;
    color: #eee;
    font-size: 16px;
    padding-left: 18px;
}
a {
    color: rgb(129, 129, 217);
    transition: color 0.5s ease;    
    font-size: 30px;
    text-decoration: none;
}
a:hover {
    color: rgb(58, 58, 164);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    display: block;
    width: max-content;
    background: #464646;
    padding: 15px;
    border-radius: 16px;
}
